main{
    font-family: 'Roboto', sans-serif;
    background-color:  #0077ffc4;   
    h2 {
        font-family: 'Fredericka the Great', cursive;
        color: #0075FF;
    }
    h3{
        color: #0075FF; 
    }
    h4{
        color: white;
        text-align: center;
        margin: 10px;
    }
}
.banner{
    background-image: url(../assets/img/mainbanner.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height:viewport;
    height: 500px;
    padding:20px;
    h2{
        margin-bottom: 5px;
    }
    p{
        color: #0075FF; 
    }
    button{
        background: rgba(0, 162, 255, 0.418);
        box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
        border-radius: 15px;
        border: 1px solid white;
        padding: 5px;
        color:#0075FF; ;
    }
}
.find{
    padding: 20px;
    a{
        text-decoration: none;
        color: rgba(256, 256, 256, 01);;
        margin: 10px;
    }
    img{
        margin: 30px;
    }
}

.exploreExc{
    background-image: url(../assets/img/meetaexc.png);
    width: 100%;
    height: 250px;
    color: white;
    padding:20px;
    button{
        margin:10px;
    }
}
.exploreCit{
    background-image: url(../assets/img/meetsome.png);
    width: 100%;
    height: 250px;
    color: white;
    padding:20px;
    button{
        margin:10px;
    }
}
.exploreEve{
    background-image: url(../assets/img/events.png);
    width: 100%;
    height: 250px;
    color: white;
    padding:20px;
    button{
        margin:10px;
    }
}
